@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

#header_pic {
    background-image: url(../images/join_banner.jpg);
}

.list_item1 {
    list-style-type: none;
    margin-left: 20px;
    overflow: hidden;
}

.list_item1 li {
    float: left;
    list-style-image: url(../images/list_photo.png);
    margin-left: 40px;
}

.list_item1 a {
    color: #000;
    text-decoration: none;
}

.list_item1 a:hover {
    transition: 0.6s;
    color: rgb(194, 197, 26);
}

.list_item2 {
    float: right;
    list-style-type: none;
    overflow: hidden;
    margin-top: 50px;
}

.list_item2 li {
    float: left;
    margin-left: 20px;
    padding-left: 5px;
    border-left: 1px dashed rgb(83, 63, 17);
}

.list_item2 a {
    color: #000;
    text-decoration: none;
    writing-mode: vertical-lr;
    font-weight: bold;
    color: rgb(83, 63, 17);
    letter-spacing: 5px;
    font-size: 20px;
}

.list_item2 span {
    writing-mode: horizontal-tb;
    color: rgb(119, 37, 26);
    letter-spacing: 0px;
    padding-bottom: 5px;
    font-family: "細明體", Arial, Helvetica, sans-serif;
}

.list_item2 li:nth-child(3) a:visited {
    color: rgb(15, 87, 19)
}

.list_item2 li:hover a {
    color: rgb(15, 87, 19);
}


#join_cont {
    margin: 0 auto;
    padding: 80px 0;
    clear: both;
    width: 1000px;
    overflow: hidden;
}

#join_cont #join_intro {
    width: 600px;
    float: left;
    margin-right: 100px;
}

#join_intro img {
    margin: 0 auto;
    display: block;
}

#join_intro p {
    margin: 40px 0;
    line-height: 1.8;
    color: rgb(93, 93, 93);
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 2em;
    text-align: justify;
}

#join_pic {
    float: right;
}

#join_cont2 {
    width: 100%;
    overflow: hidden;
    clear: both;
    position: relative;
}

#join_cont2 img {
    display: block;
    float: left;
    margin-top: 5px;


}

#join_cont2 div {
    margin-top: 120px;
    float: left;
}

#join_cont2 h3 {
    color: #555;
    padding-bottom: 3px;
    margin-bottom: 30px;
    font-size: 22px;
}


#join_cont2 li {
    padding-bottom: 15px;
    margin-left: 22px;
    color: rgb(31, 129, 69);
    font-size: 16px;
}

#join_cont2 span {
    color: rgb(71, 71, 71);
    font-size: 16px;
}

#join_cont3 {
    padding-left: 30px;
    width: 100%;
    height: 400px;
    background-image: url(../images/join_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#join_cont3 h3 {
    color: #FFF;
    font-size: 22px;
    margin-bottom: 20px;
}

#join_cont3 p {
    width: 500px;
    background-color: #FFF;
    border-radius: 5px;
    color: rgb(139, 124, 39);
    margin-bottom: 15px;
    margin-left: 44px;
    padding: 10px;
    font-weight: bold;
}

#join_cont4 {
    width: 100%;
    clear: both;
    overflow: hidden;
    padding: 50px 30px;
}

#join_cont4 #square {
    width: 170px;
    height: 170px;
    border: 1px solid rgb(168, 149, 66);
    background-color: #FFF;
    float: left;
}

#square img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#join_cont4 #word {
    float: left;
    margin-left: 120px;
}

#word h4 {
    color: rgb(61, 61, 61);
    letter-spacing: 4px;
    font-size: 22px;
}

#word h5 {
    color: rgb(104, 91, 33);
    margin-left: 3px;
    margin-bottom: 30px;
}

#word ul {
    list-style-type: none;
}

#word li {
    margin-bottom: 9px;
    color: rgb(61, 61, 61);
    font-size: 15px;
}

#word li b {
    color: rgb(126, 110, 42);
    padding-right: 12px;
    margin-right: 10px;
    border-right: 1px solid rgb(200, 178, 80);
}

@media screen and (max-width:767px) {
    .list_item1 {
        list-style-type: none;
        margin-left: 20px;
        overflow: hidden;
    }

    .list_item1 li {
        float: left;
        list-style-image: url(../images/list_photo.png);
        margin-left: 40px;
    }

    .list_item1 a {
        color: #000;
        text-decoration: none;
    }

    .list_item1 a:hover {
        transition: 0.6s;
        color: rgb(194, 197, 26);
    }

    .list_item2 {
        width: 40%;
        height: 100%;
        list-style-type: none;
        overflow: hidden;
        margin-top: 50px;
        position: relative;
        right: 0px;
    }

    .list_item2 li {
        float: left;
        margin-left: 40px;
        padding-left: 5px;
        border-left: 1px dashed rgb(83, 63, 17);
    }

    .list_item2 a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        writing-mode: vertical-lr;
        font-weight: bold;
        color: rgb(83, 63, 17);
        letter-spacing: 5px;
        font-size: 16px;
        padding-bottom: 15px;
        white-space: nowrap;
    }

    #join_cont {
        width: 100%;
        clear: both;
        padding: 80px 0;
        overflow: hidden;
    }

    #join_cont #join_intro {
        width: 100%;
        float: none;
        margin-right: 0px;
        padding: 20px;
    }

    #join_intro img {
        margin: 0 auto;
        display: block;
    }

    #join_intro p {
        margin: 40px 0;
        line-height: 1.8;
        color: rgb(93, 93, 93);
        font-family: Arial, Helvetica, sans-serif;
        text-indent: 2em;
        text-align: justify;
    }

    #join_pic {
        display: none
    }

    #join_cont2 {
        width: 100%;
        clear: both;
        position: relative;
    }

    #join_cont2 img {
        margin: 0 auto;
        display: block;
        float: none;
    }

    #join_cont2 div {
        padding: 20px;
        margin-top: 20px;
        float: none;
    }

    #join_cont2 h3 {

        padding-bottom: 3px;
        margin-bottom: 30px;
        font-size: 22px;
    }

    #join_cont2 li {
        padding-bottom: 15px;
        margin-left: 22px;
        color: rgb(31, 129, 69);
        font-size: 16px;
    }

    #join_cont2 span {
        color: rgb(71, 71, 71);
        font-size: 16px;

    }

    #join_cont3 {
        padding-left: 30px;
        width: 100%;
        height: auto;
        background-image: none;
        background-color: rgb(131, 99, 125);
    }

    #join_cont3 h3 {
        color: #FFF;
        font-size: 22px;
        margin-bottom: 20px;
    }

    #join_cont3 p {
        width: 80%;
        background-color: #FFF;
        border-radius: 5px;
        color: rgb(139, 124, 39);
        margin: 20px auto;
        padding: 10px;
        font-weight: bold;
    }

    #join_cont4 {
        width: 100%;
        clear: both;
        padding: 50px 30px;
    }

    #join_cont4 #square {
        margin: 0 auto 20px auto;
        width: 170px;
        height: 170px;
        border: 1px solid rgb(168, 149, 66);
        background-color: #FFF;
        float: none;
    }

    #square img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #join_cont4 #word {
        float: none;
        margin-left: 0px;
        text-align: center;
    }

    #word h4 {
        color: rgb(61, 61, 61);
        letter-spacing: 4px;
        font-size: 22px;
        margin-bottom: 8px;
    }

    #word h5 {
        color: rgb(104, 91, 33);
        margin-left: 3px;
        margin-bottom: 15px;
    }

    #word ul {
        list-style-type: none;
    }

    #word li {
        margin-bottom: 9px;
        color: rgb(61, 61, 61);
        font-size: 15px;
    }

    #word li b {
        color: rgb(126, 110, 42);
        padding-right: 12px;
        margin-right: 10px;
        border-right: 1px solid rgb(200, 178, 80);
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {

    .list_item1 {
        list-style-type: none;
        margin-left: 20px;
        overflow: hidden;
    }

    .list_item1 li {
        float: left;
        list-style-image: url(../images/list_photo.png);
        margin-left: 40px;
    }

    .list_item1 a {
        color: #000;
        text-decoration: none;
    }

    .list_item1 a:hover {
        transition: 0.6s;
        color: rgb(194, 197, 26);
    }


    .list_item2 {
        width: 20%;
        list-style-type: none;
        overflow: hidden;
        margin-top: 50px;
        position: relative;
        right: 5px;
    }

    #join_cont {
        width: 100%;
        clear: both;
        padding: 80px 0;
        overflow: hidden;
    }

    #join_cont #join_intro {
        width: 70%;
        float: left;
        margin-right: 0px;
        padding: 20px;
    }

    #join_intro img {
        margin: 0 auto;
        display: block;
    }

    #join_intro p {
        margin: 40px 0;
        line-height: 1.8;
        color: rgb(93, 93, 93);
        font-family: Arial, Helvetica, sans-serif;
        text-indent: 2em;
        text-align: justify;
    }

    #join_pic {
        padding: 20px;
        width: 30%;
        height: auto;
        float: right;
    }

    #join_cont2 {
        width: 100%;
        clear: both;
        position: relative;
    }

    #join_cont2 img {
        display: block;
        float: none;
    }

    #join_cont2 div {
        padding: 20px;
        margin-top: 20px;
        float: none;
    }

    #join_cont2 h3 {
        padding-bottom: 3px;
        margin-bottom: 30px;
        font-size: 22px;
    }

    #join_cont2 li {
        padding-bottom: 15px;
        margin-left: 22px;
        color: rgb(31, 129, 69);
        font-size: 16px;
    }

    #join_cont2 span {
        color: rgb(71, 71, 71);
        font-size: 16px;

    }

    #join_cont3 {
        padding-left: 30px;
        width: 100%;
        height: auto;
        background-image: url(../images/join_bg.jpg);
        background-color: rgb(131, 99, 125);
    }

    #join_cont3 h3 {
        color: #FFF;
        font-size: 22px;
        margin-bottom: 20px;
    }

    #join_cont3 p {
        width: 80%;
        background-color: #FFF;
        border-radius: 5px;
        color: rgb(139, 124, 39);
        margin: 20px auto;
        padding: 10px;
        font-weight: bold;
    }

    #join_cont4 {
        width: 100%;
        clear: both;
        padding: 50px 30px;
    }

    #join_cont4 #square {
        width: 170px;
        height: 170px;
        border: 1px solid rgb(168, 149, 66);
        background-color: #FFF;
        float: left;
    }

    #square img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #join_cont4 #word {
        width: 60%;
        float: left;
        margin-left: 60px;
    }

    #word h4 {
        color: rgb(61, 61, 61);
        letter-spacing: 4px;
        font-size: 22px;
        margin-bottom: 8px;
    }

    #word h5 {
        color: rgb(104, 91, 33);
        margin-left: 3px;
        margin-bottom: 15px;
    }

    #word ul {
        list-style-type: none;
    }

    #word li {
        margin-bottom: 9px;
        color: rgb(61, 61, 61);
        font-size: 15px;
    }
}