@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

#header_pic {
    background-image: url(../images/about_banner.jpg);
}

.list_item1 {
    list-style-type: none;
    margin-left: 20px;
    overflow: hidden;
}

.list_item1 li {
    float: left;
    list-style-image: url(../images/list_photo.png);
    margin-left: 40px;
}

.list_item1 a {
    color: #000;
    text-decoration: none;
}

.list_item1 a:hover {
    transition: 0.6s;
    color: rgb(194, 197, 26);
}

.list_item2 {
    float: right;
    list-style-type: none;
    overflow: hidden;
    margin-top: 50px;
}

.list_item2 li {
    float: left;
    margin-left: 20px;
    padding-left: 5px;
}

.list_item2 a {
    color: #000;
    text-decoration: none;
    writing-mode: vertical-lr;
    font-weight: bold;
    color: rgb(83, 63, 17);
    letter-spacing: 5px;
    font-size: 20px;
}

.list_item2 span {
    writing-mode: horizontal-tb;
    color: rgb(119, 37, 26);
    letter-spacing: 0px;
    padding-bottom: 5px;
    font-family: "細明體", Arial, Helvetica, sans-serif;
}

.list_item2 li:nth-child(3) a:visited {
    color: rgb(15, 87, 19)
}

.list_item2 li:hover a {
    color: rgb(15, 87, 19);
}

#story_banner {
    clear: both;
    width: 1588px;
    height: 417px;
    margin: 0px auto;
    padding-top: 50px;
}

#spirit_tit {
    clear: both;
    width: 184px;
    height: 184px;
    margin: 20px auto 40px auto;
}

#BOX {
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    background-image: url(../images/spirit_bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

#BOX .box {
    width: 50%;
    float: left;
    padding: 30px;
    text-align: center;
}

.box p {
    width: 400px;
    margin: 0 auto;
    text-align: justify;
    color: rgb(88, 88, 88);
    padding: 20px 0;
}

.box p#word3 {
    padding-right: 140px;
    margin-bottom: 70px;
}

.box p#word4 {
    padding-left: 140px;
    margin-bottom: 70px;
}

@media screen and (max-width:767px) {
    .list_item1 {
        list-style-type: none;
        margin-left: 20px;
        overflow: hidden;
    }

    .list_item1 li {
        float: left;
        list-style-image: url(../images/list_photo.png);
        margin-left: 40px;
    }

    .list_item1 a {
        color: #000;
        text-decoration: none;
    }

    .list_item1 a:hover {
        transition: 0.6s;
        color: rgb(194, 197, 26);
    }


    .list_item2 {
        width: 50%;
        list-style-type: none;
        overflow: hidden;
        margin-top: 50px;
        position: relative;
        right: 10px;
    }

    .list_item2 li {
        float: left;
        margin-left: 40px;
        padding: 0px 5px;
    }

    .list_item2 a {
        height: 140px;
        color: #000;
        text-decoration: none;
        writing-mode: vertical-lr;
        font-weight: bold;
        color: rgb(83, 63, 17);
        letter-spacing: 8px;
        font-size: 16px;
    }

    .list_item2 span {
        writing-mode: horizontal-tb;
        color: rgb(119, 37, 26);
        letter-spacing: 0px;
        padding-bottom: 5px;
        font-family: "細明體", Arial, Helvetica, sans-serif;
    }

    .list_item2 li:nth-child(2) a:visited {
        color: rgb(15, 87, 19)
    }

    .list_item2 li:hover a {
        color: rgb(15, 87, 19);
    }

    #story_banner {
        clear: both;
        width: 100%;
        height: auto;
        padding: 50px 0;
    }

    #story_banner img {
        width: 100%;
        height: auto;
    }

    #spirit_tit {
        clear: both;
        width: 184px;
        height: 184px;
        margin: 0px auto 40px auto;
    }

    #BOX {
        width: 90%;
        overflow: hidden;
        margin: 0 auto;
        background-image: url(../images/spirit_bg.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 50%;
        padding-bottom: 280px;
    }

    #BOX .box {
        width: 100%;
        float: none;
        padding: 10px;
        text-align: center;
    }

    .box img {}

    .box p {
        width: 100%;
        text-align: justify;
        color: rgb(88, 88, 88);
        padding: 20px 0;
    }

    .box p#word3 {
        padding-right: 0px;
        margin-bottom: 0px;
    }

    .box p#word4 {
        padding-left: 0px;
        margin-bottom: 0px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .list_item1 {
        list-style-type: none;
        margin-left: 20px;
        overflow: hidden;
    }

    .list_item1 li {
        float: left;
        list-style-image: url(../images/list_photo.png);
        margin-left: 40px;
    }

    .list_item1 a {
        color: #000;
        text-decoration: none;
    }

    .list_item1 a:hover {
        transition: 0.6s;
        color: rgb(194, 197, 26);
    }


    .list_item2 {
        width: 20%;
        list-style-type: none;
        overflow: hidden;
        margin-top: 50px;
        position: relative;
        right: 5px;
    }


    #story_banner {
        clear: both;
        width: 100%;
        height: auto;
        padding-top: 50px;
    }

    #story_banner img {
        width: 100%;
        height: auto;
    }

    #square {
        width: 100%;
        height: auto;
        position: relative;
    }

    #square img {
        display: block;
        width: 184px;
        height: 184px;
        margin: 0 auto;
    }

    #spirit_tit {
        clear: both;
        width: 184px;
        height: 184px;
        margin: 0px auto 40px auto;
    }

    #BOX {
        width: 90%;
        overflow: hidden;
        margin: 0 auto;
        background-image: url(../images/spirit_bg.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 40%;
        padding-bottom: 420px;
    }

    #BOX .box {
        width: 50%;
        float: left;
        padding: 10px;
        text-align: center;
    }

    .box img {}

    .box p {
        width: 100%;
        text-align: justify;
        color: rgb(88, 88, 88);
        padding: 20px 20px;
    }

    .box p#word3 {
        padding-right: 20px;
        margin-bottom: 0px;
    }

    .box p#word4 {
        padding-left: 20px;
        margin-bottom: 0px;
    }
}